USE [master]
GO
/****** Object:  Database [Employee]    Script Date: 2/3/2015 3:57:56 PM ******/
CREATE DATABASE [Employee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Employee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Employee.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Employee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Employee_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Employee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Employee]
GO
/****** Object:  Table [dbo].[EmployeeDatabase]    Script Date: 2/3/2015 3:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmployeeDatabase](
	[emp_Id] [int] NOT NULL,
	[emp_login] [varchar](64) NOT NULL,
	[emp_Password] [varchar](64) NOT NULL,
	[emp_CreateDate] [datetime] NULL,
	[emp_lastLogin] [datetime] NOT NULL,
	[emp_IsRemove] [bit] NULL,
	[emp_FirstName] [varchar](50) NOT NULL,
	[emp_MiddleName] [varchar](50) NOT NULL,
	[emp_LastName] [varchar](50) NOT NULL,
	[emp_CityName] [varchar](50) NOT NULL,
	[emp_CountryName] [varchar](50) NOT NULL,
	[emp_ResidentialAddress] [varchar](256) NOT NULL,
	[emp_ResidentialPostCode] [varchar](50) NOT NULL,
	[emp_IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_EmployeeDatabase] PRIMARY KEY CLUSTERED 
(
	[emp_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
