@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
</head>
<body style='background-color:black'>
    <div>
        <form method="get" action="Home\LogInResult">
            <h1 style='color:silver'><i>WELCOME!</i></h1>
            <table>
                <tr>
                    <td style='color:white'>User ID</td>
                    <td>
                        <input id='UserId' name='user_id' type='text' value='' />
                    </td>
                </tr>
                <tr>
                    <td style='color:white'>Password</td>
                    <td>
                        <input id='password' name='_password' type='text' value='' />
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type='Submit' value='LogIn' />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
